	<div class="well">
			<form action="/action_page.php">
				<fieldset>
					<legend> Sign up now:</legend>
					First name:<br>
					<input type="text" name="firstname" value="*"><br>
					Last name:<br>
					<input type="text" name="lastname" value="*"><br><br>
					Email:<br>
					<input type="email" name="email" value="*"><br><br>
					Choose an event:<br>
					<input type="radio" name="eventone" value="male" checked> Male<br>
					<input type="radio" name="eventtwo" value="female"> Female<br>
					<input type="radio" name="eventthree" value="other"> Other<br><br>
					Tell us about yourself:<br>
					<textarea name="message">write more here...</textarea><br>
					<button type="submit">Submit</button>
					<!-- <input type="submit" value="Submit"> -->
				</fieldset>
			</form>
		</div><!-- closes the well class -->